<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
        <add name="MiraxRHDBConnection" connectionString="Data Source=dev-db.clarifyit.com.br;Initial Catalog=KUMON;Persist Security Info=True;User ID=KUMON;Password=ppw@223!!;MultipleActiveResultSets=True;Application Name=KUMON" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>